<p id="notice"><%= notice %></p>

<p>
  <b>Autor:</b>
  <%= @comment.autor %>
</p>

<p>
  <b>Email:</b>
  <%= @comment.email %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Comm date:</b>
  <%= @comment.comm_date %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
