<% content_for :title, @article.title %>
<% content_for :description, @article.description %>
<% content_for :keywords, @article.keywords %>
<div class="page-header">
  <h1>
      <%= @article.title %>
  </h1>
  <% if can? :update, @post %>
  <%= link_to edit_admin_article_path(@article), :class => 'btn btn-small' do %>
    <i class="icon-pencil"></i>
  <% end %>
  <%= link_to admin_article_path(@article), :class => 'btn btn-small',  confirm: 'Вы точно хотите удалить?', method: :delete do %>
    <i class="icon-trash"></i>
  <% end %>
  <%= link_to :root, :class => 'btn btn-small' do %>
    <i title="Назад" class="icon-arrow-left"></i>
  <% end %>
<% end %>
</div>

<div>
  <%= raw @article.content %>
</div>
